$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1200px;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: 1199px;

@import "variables";
@import "extensions";
@import "fonts";
@import "flags";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  font-size: 100%;
  position: relative;
}
*,
:before,
:after {
  box-sizing:border-box;
}
body {
  color: #444;
  font-family: 'open_sansregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

/* Bootstrap overrides */
.navbar-default {
  height: 50px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  background: transparent;
  border-width: 0;
  .navbar-brand {
    font-family: 'english111_vivace_btregular';
    height: 50px;
    font-size: 26px;
    line-height: 30px;
    padding: 10px 0 10px 20px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
    &:hover, &:focus {
      color: $color-red;
      text-shadow: 0 1px 1px rgba(0,0,0,0.45);
    }
  }
  .navbar-nav > li > a {
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.45);
    padding: 4px 20px;
    &:hover, &:focus {
      color: $color-red;
    }
  }
  .navbar-toggle {
    border-color: #fff;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      border-color: $color-red;
      background-color: $color-red;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  &.navbar-shrink {
    background: rgba(0,0,0,0.75) url(../images/pattern-dark.png) repeat top left;
  }
  .navbar-collapse {
    border-color: transparent;
    border-width: 0;
    max-height: 380px;
    overflow-x: hidden;
  }
  &.navbar-mobile {
    .container-fluid {
      background: rgba(0,0,0,0.75) url(../images/pattern-dark.png) repeat top left;
    }
  }
  .btn-custom {
    max-width: 200px;
    margin: 0 20px;
  }
  .language-flag {
    display: inline-block;
    margin-top: 10px;
  }
}

.bold {
  font-family: 'open_sansbold';
}
.bolditalic {
  font-family: 'open_sansbold_italic';
}
.spacer20 {
  height: 20px;
  line-height: 1;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
}
.btn-custom, a.btn-custom {
  background-color: $color-red;
  border-color: transparent;
  border-width: 0;
  line-height: 30px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  &:hover, &:focus {
    background-color: #fff !important;
    color: $color-red !important;
    text-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
  }
}

h2 {
  font-family: 'open_sanslight';
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}
h4 {
  font-family: 'open_sansbold';
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

a {
  color: $color-red;
  &:hover,
  &:focus {
    color: $color-red-hover;
  }
}
.m-a-0 {
  margin: 0;
}
.m-x-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.p-a-20 {
  padding: 20px;
}
.p-x-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.white-background-80 {
  background: rgba(255, 255, 255, 0.8);
}
.white, a.white, a.white:hover, a.white:focus, a.whitre:active {
  color: #fff;
}
/* Same height columns */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  [class^="col-"] {
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    > div {
      -webkit-align-items: stretch;
      align-items: stretch;
    }
  }
}
/* No padding columns */
.row-no-padding {
  [class^="col-"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.row-no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color: $color-red;
  color: #fff;
}


/* Home section */
#home {
  height: 100%;
  .overlay {
    background: url(../images/pattern.png) repeat top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .carousel-caption {
    z-index: 30;
    font-size: 20px;
    background: rgba(0,0,0,0.65) url(../images/pattern.png) repeat top left;
    bottom: 0;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.95) inset;
    padding: 20px 10px;
    width: 100%;
    left: 0;
    right: 0;
    span {
      text-align: center;
      line-height: 30px;
      display: block;
      color: $color-red;
      font-weight: normal;
      margin-bottom: 10px;
    }
    strong {
      font-size: 33px;
      line-height: 50px;
      text-align: left;
      border-top: 1px solid #fff;
      font-family: 'open_sanslight';
    }
  }
  #homepage-carousel {
    width: 100%;
    height: 100%;
    z-index: 50;
    margin: 0;
  }
  .carousel-inner {
    height: 100%;
    width: 100%;
    .item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    z-index: 30;
  }
}

/* Facilities section */
#facilities {
  min-height: 100%;
  color: #444;
  background: #fff;
  padding: 50px 0 20px;
  .indent {
    text-indent: 60px;
    display: inline-block;
  }
  .dotari {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      line-height: 22px;
      span {
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: #444;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
      }
    }
  }
  .dotari-inline {
    padding: 0 20px;
    li {
      float: left;
      text-align: center;
      width: 33.33333%;
      span {
        display: block;
        width: 100%;
        height: 90px;
        line-height: 90px;
        font-size: 80px;
      }
    }
  }
}

/* Gallery section */
#gallery {
  min-height: 100%;
  color: #444;
  padding: 50px 0 20px;
  background: url(../images/gallery_bg.jpg) no-repeat center center;
  background-size: cover;
  h2 {
    color: #fff;
  }
}
.ekko-lightbox-nav-overlay a {
  color: #fff;
}

/* Offers section */
#offers {
  min-height: 100%;
  color: #444;
  padding: 50px 0 20px;
  .icon-offers {
    font-size: 48px;
    padding: 30px 0;
    display: block;
    text-align: center;
  }
}

/* Sightseeing section */
#sightseeing {
  min-height: 100%;
  color: #fff;
  background: url('../images/atractii_bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 50px 0 20px;
}

#facilities, #sightseeing {
  .nav.nav-pills {
    padding: 5px 0 15px;
  }
  .custom-tab-pill {
    font-size: 14px;
    padding: 5px 10px;
  }
  .tab-pane {
    position: relative;
    .custom-tab-nav {
      position: absolute;
      top: 120px;
      z-index: 100;
      font-size: 18px;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,0.8);
      &.glyphicon-menu-left {
        left: 5px;
      }
      &.glyphicon-menu-right {
        right: 5px;
      }
    }
  }
}

/* Contact section */
#contact {
  min-height: 100%;
  color: #444;
  padding: 50px 0 20px;
  iframe {
    width: 100%;
    height: 250px;
  }
  .form-control {
    margin-bottom: 5px;
  }
  .error {
    color: #b00;
  }
}

footer {
  text-align: center;
  .small-break {
    display: block;
  }
}

/* Mobile landscape layout */
@media screen and (min-width: 600px) {
  /* Home section */
  #home {
    .carousel-caption {
      span {
        float: left;
        text-align: right;
        width: 50%;
        margin-bottom: 0;
        line-height: 28px;
      }
      strong {
        float: right;
        border-top: 0;
        border-left: 1px solid #fff;
        font-weight: normal;
        width: 49%;
        padding-left: 10px;
        line-height: 56px;
      }
    }
  }

  footer {
    .small-break {
      display: inline;
    }
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Home section */
  #home {
    .carousel-caption {
      left: 0;
      right: 0;
      font-size: 32px;
      span {
        line-height: 40px;
      }
      strong {
        font-size: 55px;
        line-height: 80px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {

  /* Home section */
  #home {
    .carousel-caption {
      font-size: 30px;
      padding: 20px 10px;
      span {
        float: left;
        text-align: right;
        line-height: 50px;
        width: 50%;
        margin-bottom: 0;
      }
      strong {
        float: right;
        font-size: 55px;
        line-height: 100px;
        border-top: 0;
        border-left: 1px solid #fff;
        font-weight: normal;
        width: 49%;
        padding-left: 10px;
      }
    }
  }

}

@media screen and (min-width: 1400px) {
  /* Bootstrap overrides */
  .navbar-default {
    height: 80px;
    .navbar-brand {
      height: 80px;
      font-size: 40px;
      line-height: 80px;
      padding: 0 30px;
    }
    .navbar-nav > li > a {
      line-height: 80px;
      font-size: 14px;
      padding: 0px 25px;
    }
    &.navbar-shrink {
      height: 50px;
      .navbar-brand {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
      }
      .navbar-nav > li > a {
        line-height: 50px;
      }
      .btn-custom, a.btn-custom {
        padding: 5px 15px;
        margin: 5px 0;
      }
    }
  }

  .btn-custom, a.btn-custom {
    padding: 15px 20px;
  }
  /* Home section */
  #home {
    .carousel-caption {
      font-size: 40px;
      strong {
        font-size: 66px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {

}