$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1200px;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: 1199px;

@import "fonts";
@import "flags";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  position: relative;
}
*,
:before,
:after {
  box-sizing:border-box;
}
body {
  color: #333;
  font-family: 'open_sansregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

/* Bootstrap overrides */
.navbar {
  height: 50px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand {
  font-family: 'english111_vivace_btregular';
  height: 50px;
  font-size: 26px;
  line-height: 30px;
  padding: 10px 0 10px 20px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
  border-width: 0;
  .navbar-brand {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
    &:hover, &:focus {
      color: #88211a;
      text-shadow: 0 1px 1px rgba(0,0,0,0.45);
    }
  }
  .navbar-nav > li > a {
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.45);
    padding: 4px 20px;
    &:hover, &:focus {
      color: #000;
      text-shadow: 0 1px 1px rgba(255,255,255,0.25);
      font-family: 'open_sansbold';
    }
  }
  .navbar-toggle {
    border-color: #88211a;
    .icon-bar {
      background-color: #88211a;
    }
    &:hover, &:focus {
      background-color: #88211a;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  &.navbar-shrink {
    background: url(../images/pattern-dark.png) repeat top left;
  }
  .navbar-collapse {
    border-color: transparent;
    border-width: 0;
    max-height: 380px;
    background: rgba(0,0,0,0.85);
    overflow-x: hidden !important;
  }
  .navbar-right {
    li {
      display: inline-block;
      &:first-child {
        width: 100%;
      }
    }
  }
}

.bold {
  font-family: 'open_sansbold';
}
.bolditalic {
  font-family: 'open_sansbold_italic';
}
.spacer20 {
  height: 20px;
  line-height: 1;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
}
.btn-custom {
  background-color: #88211a;
  border-color: transparent;
  border-width: 0;
  line-height: 30px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 220px;
  &:hover, &:focus {
    background-color: #fff !important;
    color: #88211a !important;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35) !important;
  }
}

h2, h4 {
  font-family: 'open_sanslight';
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}
.m0 {
  margin: 0;
}
/* Same height columns */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  [class^="col-"] {
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    > div {
      -webkit-align-items: stretch;
      align-items: stretch;
    }
  }
}

/* Home section */
#home {
  height: 100%;
  .overlay {
    background: url(../images/pattern.png) repeat top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .carousel-caption {
    z-index: 30;
    font-size: 20px;
    background: rgba(0,0,0,0.65) url(../images/pattern.png) repeat top left;
    bottom: 0;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.95) inset;
    padding: 20px 10px;
    span {
      text-align: center;
      line-height: 30px;
      display: block;
      color: #D43429;
      font-weight: normal;
      margin-bottom: 10px;
    }
    strong {
      font-size: 33px;
      line-height: 50px;
      text-align: left;
      border-top: 1px solid #fff;
      font-family: 'open_sanslight';
    }
  }
  #homepage-carousel {
    width: 100%;
    height: 100%;
    z-index: 50;
    margin: 0;
  }
  .carousel-inner {
    height: 100%;
    width: 100%;
    .item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    z-index: 30;
  }
}

/* Facilities section */
#facilities {
  min-height: 100%;
  color: #fff;
  background: url('../images/services_bg.png') #b64c52 center center no-repeat;
  background-size: cover;
  padding: 100px 0 20px;
  .details-container {
    background: #c45158;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
  .indent {
    text-indent: 60px;
    display: inline-block;
  }
  .dotari {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      line-height: 22px;
      span {
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.8);
      }
    }
  }
  .dotari-inline {
    li {
      float: left;
      text-align: center;
      width: 33.33333%;
      span {
        display: block;
        width: 100%;
        height: 90px;
        line-height: 90px;
        font-size: 80px;
      }
    }
  }
}

/* Gallery section */
#gallery {
  min-height: 100%;
  color: #fff;
  background: url('../images/about_bg.png') #665464 center center no-repeat;
  background-size: cover;
  padding: 100px 0 20px;
  img {
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

/* Offers section */
#offers {
  min-height: 100%;
  color: #fff;
  background: url('../images/work_bg.png') #81a256 center center no-repeat;
  background-size: cover;
  padding: 100px 0 20px;
  .icon-offers {
    font-size: 48px;
    padding: 30px 0;
    display: block;
    text-align: center;
  }
}

/* Sightseeing section */
#sightseeing {
  min-height: 100%;
  color: #fff;
  background: url('../images/contact_bg.png') #75b4aa center center no-repeat;
  background-size: cover;
  padding: 100px 0 20px;
  .details-container {
    background: #75b4aa;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
}

/* Contact section */
#contact {
  min-height: 100%;
  color: #fff;
  background: url('../images/contact1_bg.png') #415c83 center center no-repeat;
  background-size: cover;
  padding: 100px 0 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Home section */
  #home {
    .carousel-caption {
      font-size: 32px;
      span {
        line-height: 40px;
      }
      strong {
        font-size: 55px;
        line-height: 80px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  /* Bootstrap overrides */
  .navbar {
    height: 70px;
  }
  .navbar-brand {
    height: 70px;
    font-size: 40px;
    line-height: 40px;
    padding: 15px 20px;
    border-right: 4px solid #88211a;
  }
  .navbar-default {
    .navbar-nav > li > a {
      line-height: 40px;
      font-size: 20px;
      padding: 15px 12px;
    }
    .navbar-collapse {
      background: transparent;
    }
    .navbar-right {
      li:first-child {
          width: auto;
      }
    }
    .btn-custom {
      padding: 10px 15px !important;
    }
  }

  /* Home section */
  #home {
    .carousel-caption {
      font-size: 30px;
      padding: 20px 10px;
      span {
        float: left;
        text-align: right;
        line-height: 50px;
        width: 58%;
        margin-bottom: 0;
      }
      strong {
        float: right;
        font-size: 55px;
        line-height: 100px;
        border-top: 0;
        border-left: 1px solid #fff;
        font-weight: normal;
        width: 40%;
        padding-left: 10px;
      }
    }
  }

}

@media screen and (min-width: 1400px) {
  /* Bootstrap overrides */
  .navbar {
    height: 80px;
  }
  .navbar-brand {
    height: 80px;
    font-size: 66px;
    line-height: 80px;
    padding: 0 30px;
  }
  .navbar-default {
    .navbar-nav > li > a {
      line-height: 50px;
      font-size: 16px;
      padding: 15px;
    }
    .btn-custom {
      padding: 15px 20px !important;
    }
  }
  /* Home section */
  #home {
    .carousel-caption {
      font-size: 40px;
      strong {
        font-size: 66px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .navbar-default {
    .navbar-nav > li > a {
      padding: 15px 20px;
    }
  }
}